{% extends '::base.html.twig' %}
{# a comment#}
{% block  title 'Yay twiggy Goodnesss!!!!'%}
{% block body %}
    <h2>{{ event.name }}</h2>
    {{ event.location }}
    <hr>
    {% for i in 1..count %}

        <div>
            Hello <b>{{ firstName | upper }}</b>! #{{ i }}
            {% if i is odd %}
                and odd number!
            {%  endif %}
        </div>

    {% endfor %}
{% endblock %}